@font-face {
  font-family: 'Audo';
  src: url('/fonts/Audo4.ttf') format('truetype');
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

[dir="rtl"] {
  font-family: 'Audo', 'Estrangelo Edessa', serif;
}
